    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet odio nec tortor condimentum feugiat. Curabitur est eros, condimentum ac dictum sed, lacinia vel purus. Curabitur sed mattis elit. Aliquam feugiat leo quis venenatis ornare. Donec efficitur et diam vel rhoncus. Donec sagittis nunc lectus, sit amet hendrerit nisl fringilla eget. Aliquam erat volutpat. Vivamus ac tristique diam. Etiam at rutrum magna. Praesent ultricies id risus sed luctus. Ut diam tortor, rhoncus et ligula congue, euismod pellentesque augue. Vivamus non arcu in purus volutpat volutpat. Pellentesque dapibus nunc ut ornare eleifend. Aenean urna est, sagittis non molestie dictum, dapibus et felis. Fusce tincidunt lorem vitae faucibus mollis.</p>
                <p>Morbi pharetra, eros non pretium consectetur, enim justo mattis risus, sit amet ullamcorper neque urna sed orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vestibulum ligula ipsum, sed feugiat felis rhoncus lacinia. Fusce ac mi in ante volutpat molestie. Vestibulum pretium lacus vel viverra condimentum. Morbi sed nibh semper, hendrerit purus at, vehicula nibh. Quisque tincidunt dui sed libero tempor, id gravida metus gravida.</p>
            </div>
        </div>
    </section>
